In [1]:
import pandas as pd

In [25]:
df = pd.read_csv('./food.csv')

In [26]:
df.head()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
0,Cows' milk,1 qt.,976,660,32,40,36,0,48,Dairy products
1,Milk skim,1 qt.,984,360,36,t,t,0,52,Dairy products
2,Buttermilk,1 cup,246,127,9,5,4,0,13,Dairy products
3,"Evaporated, undiluted",1 cup,252,345,16,20,18,0,24,Dairy products
4,Fortified milk,6 cups,"1,419","1,373",89,42,23,1.4,119,Dairy products

In [27]:
df.shape

(335, 10)

In [29]:
df.tail(15)

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
320,Sesame seeds,1/2 cup,50,280,9,24,13,3.1,10,Seeds and Nuts
321,Sunflower seeds,1/2 cup,50,280,12,26,7,1.9,10,Seeds and Nuts
322,Walnuts,1/2 cup,50,325,7,32,7,1,8,Seeds and Nuts
323,Beer,2 cups,480,228,t,0,0,0,8,"Drinks,Alcohol, Beverages"
324,Gin,1 oz.,28,70,0,0,0,0,t,"Drinks,Alcohol, Beverages"
325,Wines,1/2 cup,120,164,t,0,0,0,9,"Drinks,Alcohol, Beverages"
326,Table (12.2% alcohol),1/2 cup,120,100,t,0,0,0,5,"Drinks,Alcohol, Beverages"
327,Carbonated drinks Artificially sweetened,12 oz.,346,0,0,0,0,0,0,"Drinks,Alcohol, Beverages"
328,Club soda,12 oz.,346,0,0,0,0,0,0,"Drinks,Alcohol, Beverages"
329,Cola drinks,12 oz.,346,137,0,0,0,0,38,"Drinks,Alcohol, Beverages"
330,Fruit-flavored soda,12 oz.,346,161,0,0,0,0,42,"Drinks,Alcohol, Beverages"
331,Ginger ale,12 oz.,346,105,0,0,0,0,28,"Drinks,Alcohol, Beverages"
332,Root beer,12 oz.,346,140,0,0,0,0,35,"Drinks,Alcohol, Beverages"
333,Coffee,1 cup,230,3,t,0,0,0,1,"Drinks,Alcohol, Beverages"
334,Tea,1 cup,230,4,0,t,0,0,1,"Drinks,Alcohol, Beverages"