In [3]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv('./emociones_actividades.csv')

In [21]:
df.head()

,full_date,date,weekday,time,mood,activities,note_title,note
0,2024-05-16,May 16,Thursday,3:52 AM,Bien,Relajado | Contento | Cansado | Buen sueño | I...,NaN,NaN
1,2024-05-15,May 15,Wednesday,11:53 PM,Bien,Relajado | Contento | Productivo | Ocupado | B...,NaN,NaN
2,2024-05-14,May 14,Tuesday,11:22 PM,Bien,Feliz | Relajado | Contento | Desesperado | De...,NaN,NaN
3,2024-05-13,May 13,Monday,12:06 AM,Bien,Relajado | Contento | Procrastinar | Sueño med...,NaN,NaN
4,2024-05-12,May 12,Sunday,12:05 AM,Bien,Relajado | Contento | Productivo | Procrastina...,NaN,NaN

In [22]:
df.tail()

,full_date,date,weekday,time,mood,activities,note_title,note
132,2024-01-05,January 5,Friday,7:14 PM,Bien,Cansado | Aburrido | Ansioso | Sueño medio | E...,NaN,NaN
133,2024-01-04,January 4,Thursday,9:36 PM,Bien,Feliz | Relajado | Buen sueño | Ejercicio | Co...,NaN,NaN
134,2024-01-03,January 3,Wednesday,7:26 PM,Bien,Feliz | Contento | Buen sueño | Ejercicio | Ag...,NaN,NaN
135,2024-01-02,January 2,Tuesday,8:17 PM,Bien,Feliz | Relajado | Contento | Sueño medio | Ej...,NaN,NaN
136,2024-01-01,January 1,Monday,1:56 PM,Meh,Relajado | Aburrido | Sueño medio,NaN,NaN

In [24]:
df = df.drop(['note_title', 'note'], axis=1)

In [25]:
df.head()

,full_date,date,weekday,time,mood,activities
0,2024-05-16,May 16,Thursday,3:52 AM,Bien,Relajado | Contento | Cansado | Buen sueño | I...
1,2024-05-15,May 15,Wednesday,11:53 PM,Bien,Relajado | Contento | Productivo | Ocupado | B...
2,2024-05-14,May 14,Tuesday,11:22 PM,Bien,Feliz | Relajado | Contento | Desesperado | De...
3,2024-05-13,May 13,Monday,12:06 AM,Bien,Relajado | Contento | Procrastinar | Sueño med...
4,2024-05-12,May 12,Sunday,12:05 AM,Bien,Relajado | Contento | Productivo | Procrastina...

In [27]:
df.shape

(137, 6)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   full_date   137 non-null    object
 1   date        137 non-null    object
 2   weekday     137 non-null    object
 3   time        137 non-null    object
 4   mood        137 non-null    object
 5   activities  137 non-null    object
dtypes: object(6)
memory usage: 6.6+ KB

In [29]:
df.describe()

,full_date,date,weekday,time,mood,activities
count,137,137,137,137,137,137
unique,137,137,7,109,4,137
top,2024-05-16,May 16,Thursday,11:14 PM,Bien,Relajado | Contento | Cansado | Buen sueño | I...
freq,1,1,20,4,112,1

In [30]:
def encontrar_actividades(columna):
    actividades_unicas = set()

    for fila in columna:
        actividades = fila.split('|')
        actividades = [actividad.strip() for actividad in actividades]
        for actividad in actividades:
            actividades_unicas.add(actividad)
            
    return actividades_unicas


actividades_unicas = encontrar_actividades(df['activities'])

print("Actividades únicas:")
for indice, actividad in enumerate(actividades_unicas, start=1):
    print(f"{indice}. {actividad}")

Actividades únicas:
1. Viaje
2. Buen sueño
3. Enojado
4. Ocupado
5. Agua
6. IA & Data
7. Motivado
8. Algoritmos
9. Enfocado
10. Feliz
11. Comer sano
12. Ejercicio
13. Miedo
14. Sueño medio
15. Estresado
16. Ansioso
17. Enfermo
18. Desesperado
19. Hacer deberes
20. Aburrido
21. Visita
22. Correr / Cardio
23. Clase
24. Desmotivado
25. Compras
26. Examen
27. Estudio
28. Sueño malo
29. Vacaciones
30. Salida
31. Contento
32. Limpiar
33. Enamorado
34. Inseguro
35. Lectura
36. Competencia
37. Cocinar
38. Productivo
39. Cansado
40. Emocionado
41. Relajado
42. Inglés
43. Sueño temprano
44. Haircut
45. Procrastinar
46. Sin dormir
47. Protector solar
48. Triste
49. Decepcionado
50. Clases completas
51. Tarea
52. Proyecto grupal
53. Skin care
54. Iniciar temprano